.contenedor {max-width: 980px!important; margin: 0 auto;background-color: #ffffff;}
.contenedor2 {max-width: 980px!important; margin: 0 auto;background-color: #931248;}
body {background-color: #931248!important}

.foto
{
	font-size: 19px;
	color: #931248;
	font-family: "Century Gothic";
}
.texto
{
	padding-top: 10px;
	font-size: 21px;
	font-family: "Century Gothic";
	color: #931248;
}
.foto3
{
	font-size: 19px;
	color: #931248;
	font-family: "Century Gothic";

}
.foto2
{
	border-radius: 30px;
	padding-right: 10px;
	display: flex;
}
.alisados
{
	border-radius: 30px;
	display: flex;
}

/*Estilos para navegación*/
.navbar-default {background-color: transparent!important;border-color: transparent!important;}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {color: #ffff!important; background-color: #a84172!important;}
.navbar-nav > li > a { padding-top: 7px!important; padding-bottom: 7px!important;border-radius: 5px!important;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {color: #fff!important;background-color: transparent!important;}
.navbar-default .navbar-nav > li > a {color: #D092DD!important;margin-left: 65px!important;}
.navbar-nav{margin-top: 15px!important;}

#obscuro{background-color: #931248!important; padding: 15px!important}
.btn {border-radius: 0px!important; margin-bottom: 10px!important}


.galeria
{
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.galeria li
{
	margin: 5px;
}
.galeria img
{
	width: 90px;
	height: 150px;
}

.modal1
{
	display: none;
}
.modal1:target
{
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
}
.modal1 h3
{
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;  
}
.imagen1
{
	width: 100%;
	height: 90%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.imagen1 a
{
	color: #fff;
	font-size:30px;
	text-decoration: none;
	margin: 0 10px;
}
.imagen1 a:nth-child(2)
{
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}
.imagen1 img
{
	width: 538px;
	height: 100%;
	max-width: 100%
	border:7px solid #fff;
	box-sizing: border-box;
}

.cerrar
{
	display: block;
	background: #fff;
	width: 20px;
	height: 25px;
	margin: auto;
	text-align: center;
	text-decoration: none;
	font-size:15px;
	color: #000;
	padding:5px;
	border-radius: 50%;
	line-height: 25px;
}




